<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <form action="/search" method="POST">
            <h3>Content</h3>
            <input type="text" name="content" id="content" class="form-control" />
            <br />
            <button type="submit" class="btn btn-primary btn-block">
                <strong>Find!</strong>
            </button>
        </form>
    </div>

</body>

</html>